<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SurveyAndQuizApp</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <a href="/">Home</a>
    <a href="/quizzes">QuizApp</a>
</nav>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="card" th:object="${quizToSolve}">
            <div class="card-body">
                <h5 class="card-title" th:text="${quizToSolve.title}">Title</h5>
                <p class="card-text" th:text="${quizToSolve.description}">Description</p>
                <a th:href="${'/quizzes/solve'}">To the questions</a>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>